.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 5rem;
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .links {
  text-align: center;
  margin-right: 3.125rem;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 0.188rem solid white;
  padding-bottom: 0.125rem;
  margin: 0.625rem;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.125rem;
}

.user p {
  font-size: 0.9rem;
  margin-right: 0.625rem;
  color: white;
}
.user img {
  font-size: 0.9rem;
  border-radius: 50%;
}

.create-post{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

form{
  margin-top: 3.125rem;
  padding: 1.875rem 1.25rem;
  width: 25rem;
  border-radius: 0.5rem;
  background-color: white;
  backdrop-filter: blur(0.313rem);
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input, textarea {
  padding: 0.5rem, 0.7rem;
  margin: 0.188rem 0.5rem 1rem 0.5rem;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0rem transparent;
  border-radius: 0.325rem;
  color: rgb(97, 4, 184);
  font-size: 1rem;
  height: 2rem;
  z-index: 1;
}

textarea{
  height: 7rem;
}

.submitForm:hover {
  cursor: pointer,
}

.createPost{
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.post-container {
  border: 0.0625rem solid #e1e8ed;
  border-radius: 0.625rem;
  padding: 0.9rem;
  margin: 0.625rem;
  background-color: #ffffff;
  max-width: 37.3rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
}

.post-username {
  font-weight: bold;
  color: #1da1f2;
  margin-bottom: 0.325rem;
  padding: 0.5rem;
  background-color: #e8e8e8;
}

.post-title {
  font-size: 1.5em;
  color: #14171a;
  margin: 0.7rem 0;
}

.post-description {
  font-size: 1rem;
  color: #657786;
}